.logo {
    height: 120px;
    vertical-align: top;
    float: right;
    visibility: hidden;
}
div.page { 
    page-break-after: always;
}
div:last-of-type { 
    page-break-after: avoid; 
}
@media print {
    @page {
        size: a4 portrait;
    }
    * {-webkit-print-color-adjust:exact;}
    .no-print {
        visibility: hidden;
        display: none;
    }
    .colored-no-print {
        visibility: hidden;
        display: none;
    }
    .logo {
        visibility: visible !important;
        max-width: 100%;
        max-height: 100%;
    }
    div {
        font-size: 20pt;
        text-align: justify;
    }
    div.smoll {
        font-size: 18pt;
    }
    div.uilly-smoll {
        font-size: 16pt;
    }
    div.title {
        text-align: left;
    }
    div.bewegungsspiel {
        background-color: #ebf2d7;
        padding: 10px 15px; 
        margin: 40px 0px;
    }
    div.konzentrationsspiel {
        background-color: #e0d4ea;
        padding: 10px 15px; 
        margin: 40px 0px;
    }
    div.kooperationsspiel {
        background-color: #d5edfa;
        padding: 10px 15px; 
        margin: 40px 0px;
    }
    div.kennenlernspiel {
        background-color: #fad491;
        padding: 10px 15px; 
        margin: 40px 0px;
    }
    div.rituale {
        background-color: #f9f2e2;
        padding: 10px 15px; 
        margin: 40px 0px;
    }
    h1, h2, h3, h4, h5 {
        margin: 5px 0;
    }
    p { 
        margin: 1% 0; 
    }
    ul, li { 
        margin: 0; 
    }
}

