.logo {
    visibility: hidden;
    display: none;
}
div.page { 
    page-break-after: always;
}
div:last-of-type { 
    page-break-after: avoid; 
}
@media print {
    @page {
        size: a4 portrait;
    }
    * {-webkit-print-color-adjust:exact;}
    .no-print {
        visibility: hidden;
        display: none;
    }
    .colored-no-print {
        padding-left: 0;
    }
    div {
        font-size: 20pt;
        text-align: justify;
    }
    div.smoll {
        font-size: 18pt;
    }
    div.uilly-smoll {
        font-size: 16pt;
    }
    div.bewegungsspiel {
        padding: 10px 15px; 
    }
    div.konzentrationsspiel {
        padding: 10px 15px; 
    }
    div.kooperationsspiel {
        padding: 10px 15px; 
    }
    div.rituale {
        padding: 10px 15px; 
    }
    h1, h2, h3, h4, h5 {
        margin: 5px 0;
    }
    p { 
        margin: 1% 0; 
    }
    ul, li { 
        margin: 0; 
    }
}

