{{ partial "header.html" . }}

{{ $section := (replaceRE "/.*" "" .Section) }}
{{ $placeholder := (printf "%s%s" $section "n") }}

{{if .IsHome }}
    <div class="article-meta">
        <h1><span class="title">
            {{ .Title | markdownify }}
        </span></h1>
    </div>
{{ else }}
        {{ partial "list_title.html" . }}
    <br>
{{ end }}

<div class="center">
{{ .Content }}
</div>

{{if not .IsHome }}
    <nav>
        <br id="list">
        <input class="centered" type="text" id="page-filter" onkeyup="filterFunction()" placeholder="Suche nach {{ $placeholder | humanize }}">
        <ul class="menu">
            Filter:
          {{ if strings.Contains .Section "spiele" }}
            {{ range .Site.Menus.gametags }}
                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
          {{ if strings.Contains .Section "rituale" }}
            {{ range .Site.Menus.ritualtags }}
                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
        <br>
        <p>
            <a href="/{{ $section }}/print.html">Drucke</a> alle {{ $section | humanize }} als Karteikarten.
        </p>
    </nav>
<ul id="pages">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li class="list">
      {{ if (gt .Params.date 0) }}<span class="date">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
      <a href="{{ .RelPermalink }}">
          <b>
              {{ .Title | markdownify }}
          </b>
          <span style="float: right; display: none;">
            {{ .Param "spiele/zeitaufwand" }}
            {{ .Param "spiele/kategorien" }}
          </span>
          <br>
          {{ .Description | markdownify }}
      </a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
