{{ partial "header.html" . }}
{{ $section := .Section }}
{{ $sec := index (split $section "/") 0 }}

<div class="article-meta">
    <h1><span class="title">
            {{ replaceRE ".*/" "" .Title | markdownify }}
    </span></h1>
    <h3>
        {{ $sec | humanize }}
    </h3>
</div>
        <br>
        <p>
            <a href="/{{ $sec }}/print.html">Drucke</a> alle {{ $sec | humanize }} als Karteikarten.
        </p>

<ul class="terms">
  {{ range .Data.Terms }}
  <li class="list">
      <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}
          <span style="float: right;">({{ .Count }})</span>
      </a> 
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
