body, a, .centered, .article-meta {
    background-color: #313244;
    color: #cdd6f4;
}

.rituale {
    background-color: #f9f2e2;
    color: #222222;
}
.bewegungsspiel {
    background-color: #ebf2d7;
    color: #222222;
}
.konzentrationsspiel {
    background-color: #e0d4ea;
    color: #222222;
}
.kooperationsspiel {
    background-color: #d5edfa;
    color: #222222;
}
.kennenlernspiel {
    background-color: #f2c2c6;
    color: #222222;
}
