:root {
    --bg: #eeeeff;
    --text: #222222;
    --dark-text: #222222;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #313244;
        --text: #cdd6f4;
        --dark-text: #222222;
    }
}
#light:checked ~ .color-scheme-wrapper {
    --bg: #eeeeff;
    --text: #222222;
    --dark-text: #222222;
}
#dark:checked ~ .color-scheme-wrapper {
    --bg: #313244;
    --text: #cdd6f4;
    --dark-text: #222222;
}
@media (prefers-color-scheme: dark) {
    #light:checked ~ .color-scheme-wrapper {
        --bg: #eeeeff;
        --text: #222222;
        --dark-text: #222222;
    }
    #dark:checked ~ .color-scheme-wrapper {
        --bg: #313244;
        --text: #cdd6f4;
        --dark-text: #222222;
    }
}

#dark, 
#light, 
#show-color-schemes, 
.dropdown:hover+label .closed-label, 
.open-label,
.hidden-items {
    display: none;
}
.dropdown:hover+label .open-label{
    display:inline
}
.scheme-picker .hidden-items{
    left:0;
    right:0;
}
#light-label, #dark-label {
    display: block;
}
.dropdown:hover .hidden-items {
    display: block;
    margin: 0;
    padding: 0;
}
.dropdown {
    background: var(--bg);
    border: 1px solid;
    border-radius: 12px;
    padding: 1px 8px 1px 8px;
    text-decoration: none;
    margin: 0 0 -300px 0;
    text-align: center;
    float: right;
}

.color-scheme-wrapper {
    min-height:100vh;
    width:100%;
    background: var(--bg);
    color: var(--text);
}
.color-scheme-wrapper input, .color-scheme-wrapper a {
    background: var(--bg);
    color: var(--text);
}
body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
}
.rituale,
.bewegungsspiel, 
.konzentrationsspiel, 
.kooperationsspiel,
.kennenlernspiel {
    color: var(--dark-text);
}
.rituale {
    background-color: #f9f2e2;
}
.bewegungsspiel {
    background-color: #ebf2d7;
}
.konzentrationsspiel {
    background-color: #e0d4ea;
}
.kooperationsspiel {
    background-color: #d5edfa;
}
.kennenlernspiel {
    background-color: #f2c2c6;
}
