.content {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}
div.center {
    text-align: center;
}
.title, .scroll-down {
    font-size: 1.1em; 
    text-decoration: none; 
    border: none;
}
.article-meta {
    text-decoration: none;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 20%;
    background-attachment: scroll;
    background-position-x: 0%;
    background-position-y: center;
    background-blend-mode: normal;
    border-radius: 12px;
    border: dotted 2px;
}
.centered {
    border: 1px solid;
    border-radius: 12px;
    width: 75%;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    display: block;
    margin: auto;
}
.menu { padding: 0;}
.menu li { display: inline-block; }
.menu a, #toggle {
    text-decoration: none;
    border: 1px solid;
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
}
#toggle { float: right; }
.menu, .article-meta, footer { text-align: center; }
hr {
    border-style: dashed;
}
#pages {
    list-style: none;
    padding-left: 0;
}
.terms {
    list-style: none;
    padding-left: 0;
}
a, button {
    text-decoration: none; 
    border: 1px solid;
    border-radius: 6px;
    padding: 2px 2px 2px 2px;
}
li.list {
    border: 1px solid;
    border-radius: 6px;
    list-style: none;
    margin: 20px 0px;
    padding: 5px 10px 5px 10px;
}
.list a { 
    display: block;
    border: none; 
}
