  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ replace . "{Year}" now.Year | markdownify}}
  {{ end }}
  </footer>
  </div>
  </div>
  </div>
  </div>
  </body>
</html>
