<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="light-theme" name="theme-color" media="(prefers-color-scheme: light)" content="#322e2f">
    <meta id="dark-theme" name="theme-color" media="(prefers-color-scheme: dark)" content="#322e2f">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relURL }}">
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <input id="light" type="radio" name="theme" checked>
    <input id="dark" type="radio" name="theme">

    <div class="color-scheme-wrapper"><div class="content">

        <nav>
        <ul class="menu">
            <li class="dropdown scheme-picker">
                Theme
                <div class="hidden-items flow">
                    <div class="radio">
                        <hr>
                        <label id="light-label" for="light">
                            <span class="dark-mode-hide">hell</span> 
                        </label> 
                        <label id="dark-label" for="dark">
                            <span class="dark-mode-hide">dunkel</span> 
                        </label> 
                    </div>
                </div>
            </li>
          {{ range .Site.Menus.home }}
          <li><a class="menu-button" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ range .Site.Menus.pages }}
          <li><a class="menu-button" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
          <!-- {{ range .Site.Menus.main }} -->
          <!-- <li><a class="menu-button" href="{{ .URL | relURL }}">{{ .Name }}</a></li> -->
          <!-- {{ end }} -->
          {{ range .Site.Menus.appendix }}
          <li><a class="menu-button" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        </nav>
