{{ $main_style := resources.Get "css/main.css"}}
<link rel="stylesheet" href="{{ $main_style.RelPermalink }}">

{{ $light_style := resources.Get "css/light.css"}}
<link rel="stylesheet" href="{{ $light_style.RelPermalink }}">

{{ $font_style := resources.Get "css/fonts.css"}}
<link rel="stylesheet" href="{{ $font_style.RelPermalink }}">

{{ $script := resources.Get "js/filter.js" }}
<script defer language="javascript" type="text/javascript"  src="{{ $script.RelPermalink }}"></script>



