{{ $sec := replaceRE "/.*" "" .Parent.Section }}
{{ $secpath := printf "%s%s" $sec ".svg" | printf "%s%s" "images/" }}


{{ $name := split (trim .RelPermalink "/") "/" }}
{{ $len := sub (len $name) 1 }}
{{ $page := index $name $len }}
{{ $path := printf "%s%s" $page ".svg" | printf "%s%s" "images/" }}

{{ $parsec := replaceRE "/.*" "" .Parent.Section | humanize }}

{{ with $image := resources.Get $path }}
  {{ with .Err }}
  
    {{ with $secimg := resources.Get $secpath }}
      {{ with .Err }}
      <div class="article-meta {{ $sec }} {{ $page }}">
      {{ else }}
        <div class="article-meta {{ $sec }} {{ $page }}" style="background-image: url({{ $secimg.RelPermalink }});">
      {{ end }}
    {{ else }}
      <div class="article-meta {{ $sec }} {{ $page }}">
    {{ end }}

  {{ else }}

    <div class="article-meta {{ $page }}" style="background-image: url({{ $image.RelPermalink }});">

  {{ end }}
{{ else }}

    {{ with $secimg := resources.Get $secpath }}
      {{ with .Err }}
        <div class="article-meta {{ $sec }} {{ $page }}">
      {{ else }}
        <div class="article-meta {{ $sec }}" style="background-image: url({{ $secimg.RelPermalink }});">
      {{ end }}
    {{ else }}
      <div class="article-meta {{ $sec }} {{ $page }}">
    {{ end }}

{{ end }}
        <h1>
            <span class="title {{ $page }} {{ $sec }}">
                {{ .Title | markdownify }}
            </span>
        </h1>
        {{ if not .IsSection}}
            <h3>
                <span class="{{ $page }} {{ $sec }}">
                    {{ $sec | humanize }}
                </span>
            </h3>
        {{ end }}
    </div>

