{{ $sec := .Section }}
{{ $cat := printf "%s/%s" $sec "kategorien" }}
{{ $param := .Param $cat }}
{{ $categorie := lower (index $param 1) }}

{{ $catpath := printf "%s%s" $categorie ".svg" | printf "%s%s" "images/" }}
{{ $secpath := printf "%s%s" $sec ".svg" | printf "%s%s" "images/" }}

{{ with $image := resources.Get $catpath }}
  {{ with .Err }}
  
        {{ with $secimg := resources.Get $secpath }}
          {{ with .Err }}
            <div class="article-meta {{ $sec }} {{ $categorie }}">
          {{ else }}
            <div class="article-meta {{ $sec }} {{ $categorie }}" style="background-image: url({{ $secimg.RelPermalink }});">
          {{ end }}
        {{ else }}
            <div class="article-meta {{ $sec }} {{ $categorie }}">
        {{ end }}



  {{ else }}

    <div class="article-meta {{ $categorie }}" style="background-image: url({{ $image.RelPermalink }});">

  {{ end }}
{{ else }}

        {{ with $secimg := resources.Get $secpath }}
          {{ with .Err }}
            <div class="article-meta {{ $sec }} {{ $categorie }}">
          {{ else }}
            <div class="article-meta {{ $sec }} {{ $categorie }}" style="background-image: url({{ $secimg.RelPermalink }});">
          {{ end }}
        {{ else }}
            <div class="article-meta {{ $sec }} {{ $categorie }}">
        {{ end }}

{{ end }}
        <h1>
            <span class="title {{ $categorie }} {{ $sec }}">
                {{ .Title | markdownify }}
            </span>
        </h1>
        {{ if not .IsSection}}
            <h3>
                <span class="{{ $categorie }} {{ $sec }}">
                    {{ $categorie | humanize }}
                </span>
            </h3>
        {{ end }}
    </div>

{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>
